<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
    <link href="../../../webapp/resources/css/klm.css" rel="stylesheet" media="screen" th:href="@{/resources/css/klm.css}"/>
    <link href="../../../webapp/resources/css/main.css" rel="stylesheet" media="screen" th:href="@{/resources/css/main.css}"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/> <!-- fixes mobile view -->
</head>
  
<body>
    <img th:src="@{/resources/images/Logo.png}" alt="Logo"/>

    <fieldset>
        <div class="center1">
            <a href="locker.html"> <!-- LINK TO LOCKER PAGE -->
                <img th:src="@{/resources/images/KluisButton.png}" alt="Logo"/>
            </a>
            <h3 class ="g-h3">Locker</h3>
        </div>
        
        <div class="g-forms-fieldset g-clear center1">
            <a href="/key"> <!-- LINK TO KEY PAGE -->
                <img th:src="@{/resources/images/KeyButton.png}" alt="Logo"/>
            </a>
            <h3 class ="g-h3">Key</h3>
        </div>
    </fieldset>
</body>  
</html>
