<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Help</title>
    <link href="../../../webapp/resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
    <link href="../../../webapp/resources/css/bootstrap-theme.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-theme.css}"/>
    <link href="../../../webapp/resources/css/login.css" rel="stylesheet" media="screen" th:href="@{/resources/css/login.css}"/>
    <link href="../../../webapp/resources/css/locker.css" rel="stylesheet" media="screen" th:href="@{/resources/css/locker.css}"/>
    <link href="../../../webapp/resources/css/help.css" rel="stylesheet" media="screen" th:href="@{/resources/css/help.css}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/> <!-- fixes mobile view -->
</head>

<body>
<div class="container">
    <section>
        <div class="row">
            <a href="/locker" class="btn btn-warning" id="return"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Return to locker</a>
            <h1>Locker help</h1>
        </div>
    </section>
    <section>
        <h2>Search field</h2>
        <p>Explain search field here.</p>
    </section>
    <section>
        <h2>Assigning user to locker</h2>
        <p>Explain usage of locker page main functionality here.</p>
    </section>
</div>
</body>
</html>