<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Locker overview</title>
    <link href="../../../webapp/resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
    <link href="../../../webapp/resources/css/bootstrap-theme.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-theme.css}"/>
    <link href="../../../webapp/resources/css/login.css" rel="stylesheet" media="screen" th:href="@{/resources/css/login.css}"/>
    <link href="../../../webapp/resources/css/locker.css" rel="stylesheet" media="screen" th:href="@{/resources/css/locker.css}"/>
    <script src="../../../webapp/resources/js/jquery-min.js" th:src="@{/resources/js/jquery-min.js}"></script>
    <script src="../../../webapp/resources/js/locker.js" th:src="@{/resources/js/locker.js}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/> <!-- fixes mobile view -->
</head>

<body>

<div class="container">
    <div class="row">
        <img class="col-md-2" th:src="@{/resources/images/KluisButton.png}"/>
        <input name="search" id="search" class="form-control text-field-margins col-md-10" placeholder="Search..."  type="text"/>
    </div>
    <div class="table-responsive">
        <table class="table" id="locker_table">
            <thead>
            <tr>
                <th>#</th>
                <th>Floor</th>
                <th>Locker number</th>
                <th>Tower</th>
                <th>User</th>
                <th>Hidden</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="locker : ${lockers}">
                <td th:text="${locker.lockerid}">0</td>
                <td th:text="${locker.lockerFloor}">0</td>
                <td th:text="${locker.lockerNumber}">0</td>
                <td th:text="${locker.lockerTower}">A</td>
                <td th:text="${locker.user}">Karel</td>
                <td th:text="${locker.lockerTower} + ${locker.lockerFloor} + ${locker.lockerNumber}">A000</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
