<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
    <link href="../../../webapp/resources/css/klm.css" rel="stylesheet" media="screen" th:href="@{/resources/css/klm.css}"/>
    <link href="../../../webapp/resources/css/main.css" rel="stylesheet" media="screen" th:href="@{/resources/css/main.css}"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/> <!-- fixes mobile view -->
</head>
  
<body>
    <div>
        <img th:src="@{/resources/images/KluisButton.png}" alt="Logo"/>
    </div>
   
    <div>
    <table>
         <tr>
            <th></th>
            <th>Tower</th>
            <th>Floor</th>
            <th>ID</th>
        </tr>
        <tr class="tr-hover">
            <td>Locker:</td>
            <td>A</td>
            <td>1</td>
            <td>40</td>
        </tr>
        <tr class="tr-hover">
            <td>Locker:</td>
            <td>B</td>
            <td>2</td>
            <td>20</td>
        </tr>
    </table>
    </div>
    
</body>  
</html>
