body > .container {
    text-align: left;
    height: auto;
    padding: 10px 40px 20px 40px;
    margin-bottom: 20px;
    border-radius: 9px;
    margin-top: 15px;
    background-color: rgba(225, 231, 233, 0.25);
}

.container section:not(:last-of-type) {
    border-bottom: 1px solid #d2dbde;
    padding-bottom: 10px;
}

#return {
    margin-top: 23px;
    position: relative;
}
.row {
    margin-left: 0px;
}
