.login-img-center {
    margin-left: auto;
    margin-right: auto;
}
.text-field-margins {
    margin: 0.8em 0 0.8em 0;
}
.btn-login {
    border-radius: 0px;
    background-image: none;
    border: 0px solid transparent;
}