html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.center1 {
    margin: auto;
    width: 50%;
    text-align: center;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 0px 10px 0px 5px;
}

.tr-hover:hover{
    background-color: #f5f5f5
}

