html, body {
    height: 100%;
}
.navbar-item:hover {
    background-color: rgba(70, 170, 230, 0.8) !important;
}
#nav {
    background-color: rgba(255,255,255,1) !important;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.15);
}
body {
    padding-top: 51px;
    /*background-color: rgba(228,228,228, 0.5);*/
}
.status-select select, #ticket-actions select, #action-bar select {
    display: inline-block !important;
    margin: 0;
    height: 32px;
    line-height:15px !important;
    padding: 6px;
    color: #003145 !important;
    border: 1px solid #abd7ea;
    border-radius:3px;
    background-color: #fcfefe !important;
}